[user]
	email = ethrai@proton.me
	name = Sergei Ryzhko
[init]
	defaultBranch=main
[core]
	autocrlf = input
	editor = nvim
[color]
	ui = auto
[pull]
	rebase = true
[credential "https://gitlab.com"]
	helper = 
	helper = !/usr/bin/glab auth git-credential
